* {
    background-color: black;
    opacity: 0.9;
}

body {
    text-align: center;
}

h2, h3, h4, h5, nav {
    font-family: Helvetica;  
    color: seashell;
    opacity: 0.9;
  }

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid seashell;
}

#logo-img {
    height: 50px;
}

nav, ul {
    display: inline-flex;
}

li {
  text-decoration: underline;
  list-style: none;
  padding: 1em;
}

#site-hero {
    height: 700px;
    width: 1200px;
    margin: auto;
    background-image: url("images/mission-background.jpg");
}

#hero-words {
    padding: 10px;
    border: 1px solid red;
}

.teas {
    margin-top: 7%;
}

#tea-types {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}

.tea-card {
    border: 1px solid seashell;
    margin-bottom: 3%;
}

.tea-month {
    height: 200px;
    width: 300px;
}

#location-box {
    height: 700px;
    width: 1200px;
    margin: auto;
    background-image: url("images/locations-background.jpg");
}

#location-title {
    background-color: transparent;
    padding-top: 10%;
    padding-bottom: 2%;
}

#location-flexbox {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

.location-items {
    background-color: black;
    width: 300px;
    margin-bottom: 40px;
    border: 1px solid seashell;
}

#contact {
    height: 200px;
    width: 1200px;
    margin: auto;
}

#copyright {
    justify-items: left;
    margin-left: 20px;
}